<div class="signup-page">
    <h2>Đăng ký</h2>

    <div class="signup-info">
        <div>
            <label for="signup-name">Tên người dùng</label>
            <input id="signup-name">
        </div>

        <div>
            <label for="signup-email">Email</label>
            <input id="signup-email">
        </div>

        <div>
            <label for="signup-pass">Mật khẩu</label>
            <input id="signup-pass">
        </div>

        <div>
            <label for="signup-repass">Nhập lại mật khẩu</label>
            <input id="signup-repass">
        </div>
    </div>

    <button class="signup-btn">Đăng ký</button>

    <div class="redirect-login">
        <span>Đã có tài khoản?</span>
        <a>Đăng nhập</a>
    </div>
</div>