<div class="mini-comic-item">
    <div class="cover">
        <img src="https://i7.xem-truyen.com/manga/29/29081/286778770_157652653465425_4498154203164872003_n.thumb_500x.jpg"
            alt="">
    </div>

    <div class="info-group">
        <a class="title">Tên truyện</a>

        <div class="small-info">
            <a class="chapter">
                Đọc tiếp chương 3 >
            </a>

            <span class="remove-button">
                <i class="uil uil-times-circle"></i>
                Xóa
            </span>
        </div>
    </div>
</div>