<div class="login-page">
    <h2>Đăng nhập</h2>

    <div class="login-info">
        <div>
            <label for="login-email">Email</label>
            <input id="login-email">
        </div>

        <div>
            <label for="login-pass">Mật khẩu</label>
            <input id="login-pass">
        </div>

        <div class="autolog-checkbox">
            <input type="checkbox" id="auto-login">
            <label for="auto-login">Ghi nhớ đăng nhập</label>
        </div>
    </div>

    <button class="login-btn">Đăng nhập</button>

    <div class="redirect-signup">
        <span>Chưa có tài khoản?</span>
        <a [routerLink]="['../dang-ky']">Đăng ký</a>
    </div>
</div>