<div class="admin-authors-page">
    <div class="topbar">
        <div class="toggle clickable">
            <i class="uil uil-bars"></i>
        </div>

        <div class="search">
            <label for="">
                <input type="text" placeholder="Tìm kiếm...">
                <i class="uil uil-search"></i>
            </label>
        </div>

        <div class="avatar">
            <img src="https://i.pinimg.com/736x/4d/09/f5/4d09f59689e7cce8d16d225e1bd423bd.jpg" alt="">
        </div>
    </div>

    <div class="title">
        <h2>Quản lý tác giả</h2>
    </div>

    <div class="details">
        <div class="recent-comics">
            <div class="cardHeader">
                <h2>Danh sách tác giả</h2>
                <a href="quan-tri/them-tac-gia" class="btn clickable">
                    <i class="uil uil-plus-circle"></i>
                    Thêm mới
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Mã tác giả</td>
                        <td>Tên tác giả</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let author of listAuthors">
                        <td>{{author.id}}</td>
                        <td>{{author.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>