<div class="slide-comic-item">
    <img src="https://i7.xem-truyen.com/manga/29/29081/286778770_157652653465425_4498154203164872003_n.thumb_500x.jpg"
        alt="">

    <div class="info">
        <a class="title">
            Tên truyện rất là dài đó nhé hehehe
        </a>

        <div class="chapter">
            <a>Chương 255</a>
            <div class="time">
                <i class="uil uil-clock"></i>
                <span class="text">15 tiếng trước</span>
            </div>
        </div>
    </div>
</div>