<div class="admin-add-author-page">
    <div class="topbar">
        <div class="toggle clickable">
            <i class="uil uil-bars"></i>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <h2>{{editId ? 'Cập nhật ' : 'Thêm '}}tác giả</h2>
        </div>

        <div class="wrapper">
            <form class="input-fields" [formGroup]="addForm">
                <div>
                    <label for="name">Tên tác giả</label>
                    <input id="name" [(ngModel)]="newAuthor.name" formControlName="name">
                    <div *ngIf="name!.invalid && (name!.dirty || name!.touched)" class="alert alert-danger">
                        <div *ngIf="name!.errors?.['required']">
                            Vui lòng nhập tên tác giả
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="button-groups">
            <button class="btn-back" (click)="goBack()">Trở lại</button>
            <button class="btn-add" (click)="postAuthor()">Thêm</button>
        </div>
    </div>
</div>