<div class="comic-chapter-page">
    <div class="title">
        <h2>Tên truyện</h2>
        <span> - Chương 1</span>
        <div class="time text-muted">[Cập nhật lúc 22:39 03/05/2022]</div>
    </div>

    <div class="nav-buttons">
        <button>prev</button>
        <select>
        </select>
        <button>next</button>
    </div>

    <div class="comment-group">
        <div class="header">
            <i class="uil uil-comment-alt-lines"></i>
            <span> BÌNH LUẬN</span>
        </div>

        <app-auto-height-input></app-auto-height-input>

        <div class="list-comment">
            <app-comment-item></app-comment-item>
            <app-comment-item></app-comment-item>
            <app-comment-item></app-comment-item>
            <app-comment-item></app-comment-item>
        </div>
    </div>
</div>