.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
        color: var(--color-dark);
    }

    .signup-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 1.2rem;
        width: 20rem;

        input {
            border: 1px solid var(--color-dark);
            border-radius: 0.5rem;
            padding: 0.5rem var(--card-padding);
            width: 100%;
        }

        label {
            display: block;
            margin: 0.2rem;
            color: var(--color-primary);
        }
    }

    .signup-btn {
        width: 15rem;
    }

    .redirect-login {
        display: flex;
        gap: 0.5rem;

        a {
            color: var(--color-primary);

            &:hover {
                color: red;
            }
        }
    }
}