<div class="admin-dashboard-page">
    <div class="topbar">
        <div class="toggle clickable">
            <i class="uil uil-bars"></i>
        </div>

        <div class="search">
            <label for="">
                <input type="text" placeholder="Tìm kiếm...">
                <i class="uil uil-search"></i>
            </label>
        </div>

        <div class="avatar">
            <img src="https://i.pinimg.com/736x/4d/09/f5/4d09f59689e7cce8d16d225e1bd423bd.jpg" alt="">
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Truyện</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-books"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Thể loại</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-apps"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Tác giả</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-book-reader"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Tài khoản</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-users-alt"></i>
            </div>
        </div>
    </div>

    <div class="details">
        <div>
            <div class="recent-comics">
                <div class="cardHeader">
                    <h2>Truyện mới đăng</h2>
                    <a [routerLink]="['quan-ly-truyen']" class="btn clickable">Xem tất cả</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Tên truyện</td>
                            <td>Mô tả</td>
                            <td>Người đăng</td>
                            <td>Trạng thái</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A</td>
                            <td>A</td>
                            <td>A</td>
                            <td><span class="status approved">Đã duyệt</span></td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>A</td>
                            <td>A</td>
                            <td><span class="status pending">Chờ duyệt</span></td>
                        </tr>
                        <tr>
                            <td>Adsadddd dsadsad dsadsad sa dsad asd sad asd</td>
                            <td>Adsadddd dsadsad dsadsad sa dsad asd sad asd</td>
                            <td>Adsadddd dsadsad dsadsad sa dsad asd sad asd</td>
                            <td><span class="status hidden">Bị ẩn</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="preview">
            <div class="cover" hidden>
                <img src="https://d827xgdhgqbnd.cloudfront.net/wp-content/uploads/2016/04/09121712/book-cover-placeholder.png"
                    alt="">
            </div>
            <div class="default">
                <div>Bìa truyện</div>
            </div>
        </div>
    </div>
</div>