<div class="admin-dashboard-page">
    <div class="topbar">
        <div class="toggle clickable">
            <i class="uil uil-bars"></i>
        </div>

        <div class="search">
            <label for="">
                <input type="text" placeholder="Tìm kiếm...">
                <i class="uil uil-search"></i>
            </label>
        </div>

        <div class="avatar clickable">
            <img src="https://i.pinimg.com/736x/4d/09/f5/4d09f59689e7cce8d16d225e1bd423bd.jpg" alt="">
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Daily Views</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-eye"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Sales</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-eye"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comments</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-eye"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">$1,504</div>
                <div class="cardName">Earning</div>
            </div>
            <div class="iconBx">
                <i class="uil uil-eye"></i>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="statistics">
            <div class="cardHeader">
                <h2>Thống kê</h2>
                <a href="#" class="btn clickable">Xem tất cả</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>name</td>
                        <td>name</td>
                        <td>name</td>
                        <td>name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>A</td>
                        <td>A</td>
                        <td><span class="status approved">Đã duyệt</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>