<div class="home-page">
    <div class="container">
        <div class="slider">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let comic of listRecommends">
                    <app-slide-comic-item [comic]="comic"></app-slide-comic-item>
                </ng-template>
            </owl-carousel-o>
        </div>

        <div class="wrapper">
            <div class="newly-added">
                <h2 class="title">Truyện mới cập nhật ></h2>
                <div class="comic-container">
                    <app-main-comic-item *ngFor="let comic of listComics" [comic]="comic"></app-main-comic-item>
                </div>
            </div>

            <div class="extra">
                <div class="history" *ngIf="listHistories.length > 0">
                    <div class="header">
                        <span>Lịch sử đọc truyện</span>
                        <a href="">Xem tất cả</a>
                    </div>
                    <div class="items">
                        <app-mini-comic-item *ngFor="let comic of listHistories; let i=index" [comic]="comic"
                            [index]="i" (onDelete)="deleteHistoryItem($event)"></app-mini-comic-item>
                    </div>
                </div>

                <div class="genre-group">
                    <div class="header">
                        <span>Thể loại</span>
                    </div>
                    <div class="items">
                        <a *ngFor="let genre of listGenres" (click)="searchByGenre(genre.id)">
                            {{genre.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>