<div class="comic-detail-page">
    <div class="title">
        <h2>{{comic.title}}</h2>
        <div class="text-muted">[Cập nhật lúc: {{updatedTime}}]</div>
    </div>

    <div class="comic-detail">
        <div class="cover">
            <img [src]="comic.getComicCover()" alt="">
        </div>

        <div>
            <ul class="detail">
                <li>
                    <span><i class="uil uil-user"></i> Người đăng</span>
                    <span>{{comic.user?.name}}</span>
                </li>
                <li>
                    <span><i class="uil uil-book-reader"></i> Tác giả</span>
                    <span>{{comic.author?.name}}</span>
                </li>
                <li>
                    <span><i class="uil uil-tag-alt"></i> Thể loại</span>
                    <span>
                        <span *ngFor="let genre of comic.genres; let i = index">
                            <a>{{genre.name}}</a>
                            <span *ngIf="i < comic.genres.length-1"> - </span>
                        </span>
                    </span>
                </li>
                <li>
                    <span><i class="uil uil-eye"></i> Lượt xem</span>
                    <span>{{comic.view}}</span>
                </li>
                <li class="like-group">
                    <div class="btn-wrapper">
                        <i class="uil uil-heart btn clickable like" (click)="likeComic(true)"></i>
                        <span>{{totalLike}}</span>
                    </div>
                    <div class="btn-wrapper">
                        <i class="uil uil-heart-break btn clickable dislike" (click)="likeComic(false)"></i>
                        <span>{{totalDislike}}</span>
                    </div>
                </li>
            </ul>

            <div class="button-group">
                <button (click)="navigateToChapter(comic.chapters.at(-1)!.chapterIndex)">
                    Đọc từ đầu
                </button>
                <button (click)="navigateToChapter(comic.chapters[0].chapterIndex)">
                    Đọc mới nhất
                </button>
            </div>
        </div>
    </div>

    <div class="description">
        <div class="header">
            <i class="uil uil-file-alt"></i>
            <span> NỘI DUNG</span>
        </div>
        <div class="desc">
            {{comic.description}}
        </div>
    </div>

    <div class="list-chapter">
        <div class="header">
            <i class="uil uil-list-ul"></i>
            <span> DANH SÁCH CHƯƠNG</span>
        </div>

        <div class="table">
            <div class="table-header table-item">
                <span class="left">Số chương</span>
                <span>Cập nhật</span>
            </div>

            <ul class="chapters">
                <li class="table-item" *ngFor="let chapter of listChapters">
                    <a class="left" (click)="navigateToChapter(chapter.chapterIndex)">{{chapter.getChapterName()}}</a>
                    <span class="time">{{chapter.getTimeDiff()}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="comment-group">
        <div class="header">
            <i class="uil uil-comment-alt-lines"></i>
            <span> BÌNH LUẬN</span>
        </div>

        <div class="list-comment">
            <app-comment-item *ngFor="let comment of listComments" [comment]="comment" [showChapter]="true">
            </app-comment-item>
        </div>
    </div>
</div>