<div class="main-comic-item">
    <div class="cover">
        <img src="https://i7.xem-truyen.com/manga/29/29081/286778770_157652653465425_4498154203164872003_n.thumb_500x.jpg"
            alt="">

        <div class="more-info">
            <div class="icon-group">
                <i class="uil uil-eye"></i>
                <span>7749</span>
            </div>

            <div class="icon-group">
                <i class="uil uil-heart"></i>
                <span>69</span>
            </div>
        </div>
    </div>

    <div class="info-group">
        <a class="title">Tên truyện</a>

        <a class="chapter">
            Chương 3
            <span class="text-muted">15 phút trước</span>
        </a>
        <a class="chapter">
            Chương 2
            <span class="text-muted">10 ngày trước</span>
        </a>
        <a class="chapter">
            Chương 1
            <span class="text-muted">30/09/2022</span>
        </a>
    </div>
</div>