<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<header>
  <div class="container">
    <a class="logo clickable" href="">TruyenTranh</a>

    <div class="search-bar">
      <i class="uil uil-search"></i>
      <input type="search" placeholder="Tìm truyện...">
    </div>

    <div class="login-group">
      <span class="clickable">Đăng nhập</span>
      <span>|</span>
      <span class="clickable">Đăng ký</span>
    </div>
  </div>
</header>
<router-outlet></router-outlet>