<div class="comment-item">
    <div class="avatar">
        <img src="https://i.pinimg.com/736x/4d/09/f5/4d09f59689e7cce8d16d225e1bd423bd.jpg" alt="">
    </div>

    <div class="wrapper">
        <span>
            <div class="user-name text-bold">Người dùng</div>
            <div class="comment">Ê nma để ý outfit của mains đỉnh thật . Bộ nào ra bộ đó qá high fashion. Trang phục đẹp
                nhất mấy bộ từng coi luôn</div>
        </span>

        <div class="more-info">
            <h5 class="chapter-info">Chapter 0</h5>
            <h5 class="text-muted">Vừa xong</h5>
        </div>
    </div>
</div>