<header>
    <div class="container">
        <a class="logo clickable" href="">TruyenTranh</a>

        <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Tìm truyện...">
        </div>

        <div class="login-group">
            <a class="clickable" href="/dang-nhap">Đăng nhập</a>
            <span>|</span>
            <a class="clickable" href="/dang-ky">Đăng ký</a>
        </div>
    </div>
</header>

<body>
    <router-outlet></router-outlet>
</body>

<footer>
    <div class="container">
        <div>
            <div class="hightlight">App đọc truyện tranh</div>
            <div>Đồ án môn thay thế tốt nghiệp khóa D18</div>
        </div>
        <div>
            <div>Nguyễn Hải Đăng - N18DCCN040</div>
            <div>Vũ Tuấn Anh - N18DCCN010</div>
        </div>
    </div>
</footer>