<header>
    <div class="container">
        <a class="logo clickable" [routerLink]="['']">TruyenTranh</a>

        <form class="search-bar" (submit)="onSearch()">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Tìm truyện..." [(ngModel)]="searchStr"
                [ngModelOptions]="{standalone: true}">
        </form>

        <div class="login-group" [hidden]="getCurrentUser()">
            <a class="clickable" [routerLink]="['dang-nhap']">Đăng nhập</a>
            <span>|</span>
            <a class="clickable" [routerLink]="['dang-ky']">Đăng ký</a>
        </div>

        <div class="user-info clickable" [hidden]="!getCurrentUser()">
            <div class="avatar">
                <img [src]="getCurrentUser()?.getAvatar()" alt="">
            </div>
            <span>{{getCurrentUser()?.name}}</span>
        </div>
    </div>
</header>

<body>
    <router-outlet></router-outlet>
</body>

<footer>
    <div class="container">
        <div>
            <div class="hightlight">App đọc truyện tranh</div>
            <div>Đồ án môn thay thế tốt nghiệp khóa D18</div>
        </div>
        <div>
            <div>Nguyễn Hải Đăng - N18DCCN040</div>
            <div>Vũ Tuấn Anh - N18DCCN010</div>
        </div>
    </div>
</footer>

<div class="hover-panel">
    <a [routerLink]="['thong-tin-ca-nhan']"><i class="uil uil-user"></i>Thông tin cá nhân</a>
    <a [routerLink]="['truyen-cua-toi']"><i class="uil uil-book-alt"></i>Truyện của bạn</a>
    <a [routerLink]="['quan-tri']"><i class="uil uil-key-skeleton"></i>Quản trị</a>
    <a (click)="onLogout()"><i class="uil uil-signin"></i>Đăng xuất</a>
</div>