<div class="admin-add-account-page">
    <div class="topbar">
        <div class="toggle clickable">
            <i class="uil uil-bars"></i>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <h2>Thêm người dùng</h2>
        </div>

        <div class="wrapper">
            <form class="input-fields" [formGroup]="addForm">
                <div>
                    <label for="account-add-name">Tên người dùng</label>
                    <input id="account-add-name" type="text" maxlength="24" [(ngModel)]="newAccount.name"
                        formControlName="name">
                </div>

                <div>
                    <label for="account-add-email">Email</label>
                    <input id="account-add-email" type="email" maxlength="320" [(ngModel)]="newAccount.email"
                        formControlName="email">
                </div>

                <div>
                    <label for="account-add-pass">Mật khẩu</label>
                    <input id="account-add-pass" type="password" maxlength="128" [(ngModel)]="newAccount.pass"
                        formControlName="pass">
                </div>

                <div>
                    <label for="account-add-repass">Nhập lại mật khẩu</label>
                    <input id="account-add-repass" type="password" maxlength="128" [(ngModel)]="retypePass"
                        formControlName="repass">
                </div>

                <div>
                    <label for="account-add-role">Cấp quyền</label>
                    <select id="account-add-role" formControlName="role" [(ngModel)]="selectedRole">
                        <option value="0">Người dùng</option>
                        <option value="1">Quản trị viên</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="button-groups">
            <button class="btn-back" (click)="goBack()">Trở lại</button>
            <button class="btn-add" (click)="postAccount()">Thêm</button>
        </div>
    </div>
</div>