.auto-height-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    textarea {
        width: 100%;
        color: var(--color-dark);
        background-color: var(--color-white);
        padding: 0.5rem;
        font-size: 1rem;
        min-height: 3rem;
        line-height: 25px;
        overflow: auto;
        resize: none;
        white-space: pre;
        border: 1px solid var(--color-gray);
    }

    i {
        font-size: 1.5rem;
        color: var(--color-primary);
    }
}