<nav>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-house-user"></i></span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-books"></i></span>
                    <span class="title">Truyện</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-apps"></i></span>
                    <span class="title">Thể loại</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-book-reader"></i></span>
                    <span class="title">Tác giả</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-users-alt"></i></span>
                    <span class="title">Tài khoản</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <router-outlet></router-outlet>
</body>