<nav>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-house-user"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-books"></i></span>
                    <span class="title">Comics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-apps"></i></span>
                    <span class="title">Genres</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-book-reader"></i></span>
                    <span class="title">Authors</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-users-alt"></i></span>
                    <span class="title">Accounts</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="uil uil-users-alt"></i></span>
                    <span class="title">Return</span>
                </a>
            </li>
        </ul>
    </div>
</nav>